<!DOCTYPE html>

<html>
<body>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/wwwroot/css/style.css" />
    </head>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Pakhotina Olga</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-right" id="navbarCollapse">
                    <ul class="nav navbar-nav navbar-right me-auto mb-2 mb-md-0 mr-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/List">All Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/List/electric">All electro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/List/fuel">All fuel</a>
                        </li>
                        <li class="nav-item margin-right">
                            <a class="nav-link margin-right" href="/ShopCart" tabindex="-1" aria-disabled="true">Shoping Cart</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <a class="active float-en" aria-current="page" href="/">Back to Home Page</a>
        <p class="text-center">© 2021 Pakhotina Company, Inc. · <a href="#">Privacy</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
