@model Order

<div class="row">
    <h3>Order:</h3>
    <form asp-action="Checkout" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="name"></label>
            <div class="col-md-5">
                <input asp-for="name" class="form-contoller" />
                <span asp-validation-for="name" class-"text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="surname"></label>
            <div class="col-md-5">
                <input asp-for="surname" class="form-contoller" />
                <span asp-validation-for="surname" class-"text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="adress"></label>
            <div class="col-md-5">
                <input asp-for="adress" class="form-contoller" />
                <span asp-validation-for="adress" class-"text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="phone"></label>
            <div class="col-md-5">
                <input asp-for="phone" class="form-contoller" />
                <span asp-validation-for="phone" class-"text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="email"></label>
            <div class="col-md-5">
                <input asp-for="email" class="form-contoller" />
                <span asp-validation-for="email" class-"text-danger"></span>

            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Finish your order" />
    </form>
</div>
